/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
.first-child{
	background-color:black;
	color:white;
}
.last-child{
	color:red;
}

ul li {
  background: gray;          
  width: 50%;                 
  padding: 10px;              
}

ul li:nth-child(odd) {
  background: white;          
}

ul li:first-child {
  font-size: 22px;            
}

ul li:last-child {
  font-size: 22px;            
}

ul li:nth-last-child(3) {
  background: pink;           
}
